
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
              <a id="mysidenav" onclick="openNav()">
                <i class="tm tsbu menu float-left"></i>
              </a>
              <h5 class="text-center">Change Password</h5>
            </div>

            <section onclick="closeNav()">

              <div class="regi-form">
                <div class="deatails p-3 bg-white">
                  <form>
                    <div class="password pb-2">
                        <label for="cpwd">Current Password</label>
                        <input type="password" id="cpwd" name="cpwd">
                    </div>
                    <div class="password pb-2">
                        <label for="npwd">New Password</label>
                        <input type="password" id="npwd" name="npwd">
                    </div>
                    <div class="password pb-2">
                        <label for="cnpwd">Confirm New Password</label>
                        <input type="password" id="cnpwd" name="cnpwd">
                    </div>
                  </form>

                </div>
              </div>
              <div class="submit text-center">
                <button class="btn"><a class="text-white" href="" routerLink="/thankyou">Submit</a></button>
              </div>

            </section>
            
            
        </div>
        


    </div>
</div>




