
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
                <a id="mysidenav" onclick="openNav()">
                  <i class="tm tsbu menu float-left"></i>
                </a>
                <h5 class="text-center">John Doe</h5>
            </div>

           
            <section onclick="closeNav()">

                <div class="switch d-flex justify-content-center">
                    <div class="switch-btn d-flex justify-content-center">
                      <button class="profile active"><a href="" routerLink="/userprofile">Profile</a></button>
                      <button class="history"><a href="" routerLink="/userhistory">History</a></button>
                    </div>
                </div>
      
                  <div class="user-info p-4">
      
                      <div class="user d-flex pb-4">
                          <div class="image-holder">
                              <img src="../../assets/user.svg" alt="">
                          </div>
                          <div class="user-detail pt-1 pl-4">
                              <h5 class="">John Doe</h5>
                              <p class="m-0">Age : 27 | Gender : <b>Male</b></p>
                          </div>
                      </div>
          
                      <div class="user-description">
                          <div class="phone pt-2 pb-1">
                              <h6>Phone</h6>
                              <h5>+91 1234567890</h5>
                          </div>
                          <div class="email py-1">
                              <h6>Email</h6>
                              <h5>johndoe@gmail.com</h5>
                          </div>
                          <div class="aadhar py-1">
                              <h6>Aadhar No</h6>
                              <h5>1234 5678 9012 3456</h5>
                          </div>
                          <div class="address pt-1">
                              <h6>Address</h6>
                              <h5>5 Ganesh Perl, Near Govind Hospital Lawns, Nashik</h5>
                          </div>
                      </div>
                </div>
      

            </section>

          
           
        </div>
        


    </div>
</div>







