.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;

    .openbtn {
      padding: 15px;
      background: rgb(255,131,35);

      i {
        font-size: 30px;
        cursor: pointer;
      }
      h5 {
        padding-right: 38px;
      }
    }

    .switch {
      padding-top: 30px;
      transition: all .5s;

      

      .switch-btn button{
        background: rgb(235,235,235);
        outline: 0 none;
        border: none;
        border-radius: 0 10px 10px 0;



        
        a {
          color: rgb(255,131,35);
          text-decoration: none;
          padding: 10px;

        } 

      }

      .switch-btn .active {
        background: rgb(255,131,35);
        border-radius: 10px 0 0 10px;


        a {
          color: #fff;
          transition: .5s;

        }
      }
      
  }

    .user {
      margin-top: 10px;
      border-bottom: 1px solid rgb(235,235,235);;

      .image-holder {

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          box-shadow: 2px 2px 5px gray;
          outline: red;
          border: 4px solid rgb(235,235,235);
        }
      }
    }

    .user-description {

      h6 {
        font-size: 15px;
      }

      h5 {
        font-size: 17px;
      }

      .phone, .email, .aadhar, .address {
        border-bottom: 1px solid rgb(235,235,235);
      }
    }
   
    
    

    

   
}