
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
              <a id="mysidenav" onclick="openNav()">
                <i class="tm tsbu menu float-left"></i>
              </a>
              <h5 class="text-center">History</h5>
            </div>

            <section onclick="closeNav()">

                <div class="history px-2">
                    <div class="user p-3">
                        <h4>Hii John,</h4>
                        <p>Please check your temparature history</p>
                    </div>
                    <div class="history-graph">
                        <img src="../../assets/graph.svg" width="100%" alt="">
                    </div>
                </div>
                <div class="share-report pt-4">
                    <h5 class="text-center">SHARE GENERATED PASS</h5>
                    <div class="icon-holder d-flex justify-content-center">
                        <img src="../../assets/whatsapp.svg"alt="">
                        <img src="../../assets/message.svg" alt="">
                        <img src="../../assets/print.svg" alt="">
    
                    </div>
                </div>
                
                
                <div class="Done text-center">
                    <button class="btn"><a class="text-white" href="" routerLink="/userprofile">Done</a></button>
                </div>

            </section>

            
        </div>
        


    </div>
</div>





