.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;

   
    
    .openbtn {
      padding: 15px;
      background: rgb(255,131,35);

      i {
        font-size: 30px;
        cursor: pointer;
      }
      h5 {
        padding-right: 35px;
      }
    }
    .share-report {
        h5 {
            font-size: 16px;
        }

        .icon-holder {
            width: 360px;
            img {
                width: 80px;
                padding: 20px 10px;
            }
        }
    }
   
    

    .Done {
        position: absolute;
        padding: 8px 0;
        bottom: 0;
        width: 100%;
        background: rgb(255,131,35);
        display: block;
        border: none;
        outline: 0 none;

        button {
            border: none;
            outline: 0 none;
        }

        a {
            text-decoration: none;
            
        }
    }

   
}