<div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      <div class="logo">
        <img src="../../assets/logo.png" alt="">
      </div>
      <div class="card mx-3 p-2">
        <div class="card-body">
          <form>
            <div class="username pb-2">
              <label for="fname">User Name</label>
              <input type="text" id="fname" name="fname">
            </div>
            <div class="password pb-2">
              <label for="pwd">Password</label>
              <input type="password" id="pwd" name="pwd">
            </div>
            <div class="forgetpassword">
              <small><a href="" routerLink="/forgotpassword">Forget Your Password ?</a></small>
            </div>
            <div class="login text-center pt-4">
              <button class="btn"><a href="" routerLink="/welcome">Login</a></button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>

  <!-- <app-welcome></app-welcome> -->



