
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
              <a id="mysidenav" onclick="openNav()">
                <i class="tm tsbu menu float-left"></i>
              </a>
              <h5 class="text-center">Check Your Temparature</h5>
            </div>
            <div class="bracket-holder ">
                <a href="" routerLink="/temprature"><i class="tm tsbu bracket"></i>
                </a>
            </div>
          
        </div>
        


    </div>
</div>



