

.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;

   
    
      .openbtn {
        padding: 15px;
        background: rgb(255,131,35);
    
        i {
          font-size: 30px;
          cursor: pointer;
        }
      }

      .bracket-holder{
        background: url(../../assets/image7-min.jpg);
        background-position: center;
        background-size: cover;
        height: 498px;

        a {
            text-decoration: none;
        }

        i {
          color: #fff;
          width: 340px;
          font-size: 400px;
          padding-left: 15px;
        }
        img {
          width: 100%;
          // height: 400px;
          
        }
      }

      
      
}






