@font-face {
    font-family: 'tm';
    src:  url('../fonts/tm.eot?x3i0i5');
    src:  url('../fonts/tm.eot?x3i0i5#iefix') format('embedded-opentype'),
      url('../fonts/tm.ttf?x3i0i5') format('truetype'),
      url('../fonts/tm.woff?x3i0i5') format('woff'),
      url('../fonts/tm.svg?x3i0i5#tm') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .tsbu {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tm' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .bars:before {
    content: "\e900";
  }
  .clipboard:before {
    content: "\e901";
  }
  .edit-tools:before {
    content: "\e902";
  }
  /* .face-scan:before {
    content: "\e903";
  } */
  .filter:before {
    content: "\e904";
  }
  .like:before {
    content: "\e905";
  }
  .lock:before {
    content: "\e906";
  }
  .logout:before {
    content: "\e907";
  }
  .menu:before {
    content: "\e908";
  }
  .right-arrow:before {
    content: "\e909";
  }
  .scan-face-o:before {
    content: "\e90a";
  }
  .user1:before {
    content: "\e90b";
  }
  .whatsapp1:before {
    content: "\e90c";
  }
  .bracket:before {
    content: "\e90d";
  }
  .graph .path1:before {
    content: "\e90e";
    color: rgb(154, 199, 215);
  }
  .graph .path2:before {
    content: "\e90f";
    margin-left: -1.908203125em;
    color: rgb(154, 199, 215);
    opacity: 0.4;
  }
  .graph .path3:before {
    content: "\e910";
    margin-left: -1.908203125em;
    color: rgb(154, 199, 215);
    opacity: 0.4;
  }
  .graph .path4:before {
    content: "\e911";
    margin-left: -1.908203125em;
    color: rgb(154, 199, 215);
    opacity: 0.4;
  }
  .graph .path5:before {
    content: "\e912";
    margin-left: -1.908203125em;
    color: rgb(154, 199, 215);
    opacity: 0.4;
  }
  .graph .path6:before {
    content: "\e913";
    margin-left: -1.908203125em;
    color: rgb(154, 199, 215);
    opacity: 0.4;
  }
  .graph .path7:before {
    content: "\e914";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path8:before {
    content: "\e915";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path9:before {
    content: "\e916";
    margin-left: -1.908203125em;
    color: rgb(226, 26, 26);
  }
  .graph .path10:before {
    content: "\e917";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path11:before {
    content: "\e918";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path12:before {
    content: "\e919";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path13:before {
    content: "\e91a";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path14:before {
    content: "\e91b";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path15:before {
    content: "\e91c";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .graph .path16:before {
    content: "\e91d";
    margin-left: -1.908203125em;
    color: rgb(48, 210, 214);
  }
  .message .path1:before {
    content: "\e91e";
    color: rgb(255, 145, 2);
  }
  .message .path2:before {
    content: "\e91f";
    margin-left: -1.0380859375em;
    color: rgb(0, 0, 0);
  }
  .message .path3:before {
    content: "\e920";
    margin-left: -1.0380859375em;
    color: rgb(0, 0, 0);
  }
  .message .path4:before {
    content: "\e921";
    margin-left: -1.0380859375em;
    color: rgb(194, 206, 206);
  }
  .message .path5:before {
    content: "\e922";
    margin-left: -1.0380859375em;
    color: rgb(194, 206, 206);
  }
  .message .path6:before {
    content: "\e923";
    margin-left: -1.0380859375em;
    color: rgb(194, 206, 206);
  }
  .message .path7:before {
    content: "\e924";
    margin-left: -1.0380859375em;
    color: rgb(194, 206, 206);
  }
  .message .path8:before {
    content: "\e925";
    margin-left: -1.0380859375em;
    color: rgb(0, 0, 0);
  }
  .message .path9:before {
    content: "\e926";
    margin-left: -1.0380859375em;
    color: rgb(0, 0, 0);
  }
  .message .path10:before {
    content: "\e927";
    margin-left: -1.0380859375em;
    color: rgb(0, 0, 0);
  }
  .photo_corner:before {
    content: "\e928";
    color: #727272;
  }
  .print .path1:before {
    content: "\e929";
    color: rgb(222, 221, 224);
  }
  .print .path2:before {
    content: "\e92a";
    margin-left: -1.052734375em;
    color: rgb(205, 205, 208);
  }
  .print .path3:before {
    content: "\e92b";
    margin-left: -1.052734375em;
    color: rgb(0, 161, 167);
  }
  .print .path4:before {
    content: "\e92c";
    margin-left: -1.052734375em;
    color: rgb(0, 108, 112);
  }
  .print .path5:before {
    content: "\e92d";
    margin-left: -1.052734375em;
    color: rgb(222, 221, 224);
  }
  .print .path6:before {
    content: "\e92e";
    margin-left: -1.052734375em;
    color: rgb(205, 205, 208);
  }
  .print .path7:before {
    content: "\e92f";
    margin-left: -1.052734375em;
    color: rgb(255, 255, 255);
  }
  .print .path8:before {
    content: "\e930";
    margin-left: -1.052734375em;
    color: rgb(255, 255, 255);
  }
  .print .path9:before {
    content: "\e931";
    margin-left: -1.052734375em;
    color: rgb(255, 255, 255);
  }
  .skyline:before {
    content: "\e932";
  }
  .user .path1:before {
    content: "\e933";
    color: rgb(231, 236, 237);
  }
  .user .path2:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(85, 96, 128);
  }
  .whatsapp .path1:before {
    content: "\e935";
    color: rgb(236, 239, 241);
  }
  .whatsapp .path2:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(76, 175, 80);
  }
  .whatsapp .path3:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(250, 250, 250);
  }
  