<div id="mySidenav" class="sidenav">
    <div class="profile d-flex">
      <div class="user-image">
        <!-- <i class="tm tsbu user"></i> -->
        <img src="../../assets/user.svg" alt="">
      </div> 
      <div class="user-detail text-white">
        <h5 class="p-0 m-0">John Doe</h5>
        <small routerLink= "/myprofile">My Profile</small>
        <!-- <a href="">My Profile</a> -->
      </div>
    </div> 
    <div>
      <!-- <span href="#" class="closebtn text-white" onclick="closeNav()">
        <i class="tm tsbu menu"></i>
      </span> -->
    </div>
    <a href="#" routerLink= "/history" routerLinkActive = "active"><i class="tm tsbu user1"></i> Home</a>
    <a href="#" routerLink= "/historicdata" routerLinkActive = "active"><i class="tm tsbu bars"></i> Historic Data</a>
    <a href="#" routerLink= "/changepassword" routerLinkActive = "active"><i class="tm tsbu lock"></i> Change Password</a>
    <a href="#" routerLink= "/login" routerLinkActive = "active"> <i class="tm tsbu logout"></i> Logout</a>
</div>

        
 