.sidenav {
    height: 100%;
    width: 0px;
    // width: 260px;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    // left: -260px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 5px 5px 5px gray;
  }

  span {
    padding-top: 10px;
    padding-right: 10px;
  }

  .profile {
    padding: 25px;
    background: rgb(255,131,35);
   
    .user-image {
      // background: gray;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;

  
      
       

      // i {
      //   font-size: 30px;
      //   // padding-right: 30px;
      //   position: relative;
      //   top: 13px;
      //   left: 13px;
       
      // }
    }
  }
 
.sidenav a {
    padding: 15px 15px 15px 25px;
     text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block; 
    transition: 0.3s;
    font-size: 14px;
   

    i {
      padding-right: 10px;
      font-size: 20px;
    }
  }

  

  .sidenav a:hover, .sidenav a i:hover{
    color: rgb(255,131,35);
    background:rgb(235,235,235);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;

    i {
      font-size: 30px;
    }
  }     


  .openbtn {
    padding: 15px;
    background: rgb(255,131,35);

    i {
      font-size: 30px;
    }
  }

  .user-detail small {
    cursor: pointer;
    // border: none;
    outline: 0 none;
  }

  .active {
    color: rgb(255,131,35);
    background:rgb(235,235,235);
  }