<div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      <div class="forgot-password-detail text-center">
        <h5>Forgot Password</h5>
        <p>Enter your email below to receive your <br> password reset intructions</p>
      </div>
      <div class="card mx-3">
        <div class="card-body">
          <form>
            <div class="email">
              <label for="email">Email</label>
              <input type="email" id="email" name="email">
            </div>
            <div class="login text-center pt-4">
              <button class="btn"><a href="" routerLink="/thankyou">Submit</a></button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>





