.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;

    .forgot-password-detail {
      padding: 50px 0 150px 0 ;
      color: #fff;
      background: linear-gradient(to bottom, rgb(255,144,41),rgb(253,54,54));
      border-radius: 0 0 40% 40%;

      h5 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
    
  
    .card {
      box-shadow: 2px 2px 2px gray;
      border-radius: 10px;
      margin-top: -100px;
  
      label {
        font-size: 14px;
      }
      
      input {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid rgb(235,235,235);;
      }
      input::-webkit-input-placeholder {
        font-size: 12px;
      }

      input:hover,input:focus {
        outline: 0 none;
      } 
      
    }
  
    
    .btn a{
      padding: 12px 30px;
      background-color: rgb(255,131,35);
      color: #fff;
      border-radius: 20px;
      text-decoration: none;
  
      &:hover {
        transform: translateY(-2px);
        color: #fff;
        transition: all .5s;
      }
    }
  }
  
  