

.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;

   
    
      .openbtn {
        padding: 15px;
        background: rgb(255,131,35);
    
        i {
          font-size: 30px;
          cursor: pointer;
        }
        
      }

      .bracket-holder{
        background: url(../../assets/image7-min.jpg);
        background-position: center;
        background-size: cover;
        height: 498px;

        i {
          color: #fff;
          width: 340px;
          font-size: 400px;
          padding-left: 15px;
        }
        img {
          width: 100%;
          // height: 400px;
          
        }
      }

      .temp-area {
        background-color: rgb(45,206,48);
        color: #fff;
        position: absolute;
        bottom: 0;
        padding: 15px;
        width: 100%;
        z-index:1;
        opacity: .9;
        border-radius: 50px 50px 0 0;

        .proceed-btn {
          margin-top: 25px;
        }

        .proceed-btn a {
          padding: 5px 20px;
          border-radius: 5px;
          text-decoration: none;
          color: #fff;
          background: rgb(255,131,35);
          opacity: 1 !important;
          font-weight: 600;

          i {
            padding-left: 7px;
          }
        }
      }
    
      
}






