
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
              <a id="mysidenav" onclick="openNav()">
                <i class="tm tsbu menu float-left"></i>
              </a>
              <h5 class="text-center">Check Your Temparature</h5>
            </div>
            
            <section onclick="closeNav()">

              <div class="bracket-holder ">
                <i class="tm tsbu bracket"></i>
              </div>
              <div class="temp-area d-flex justify-content-around">
                <div class="temp-detail">
                  <small>Temparature</small>
                  <h2><b>98 F</b></h2>
                </div>
                <div class="proceed-btn">
                  <a href="" class="float-right" routerLink="/register">Proceed <i class="tm tsbu right-arrow"></i></a>
                </div>
              </div>

            </section>
        </div>
        


    </div>
</div>



