
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
                <a id="mysidenav" onclick="openNav()">
                  <i class="tm tsbu menu float-left"></i>
                </a>
                <h5 class="text-center">John Doe</h5>
            </div>

            <section onclick="closeNav()">

              <div class="switch d-flex justify-content-center">
                <div class="switch-btn d-flex justify-content-center">
                  <button><a href=""  routerLink="/userprofile">Profile</a></button>
                  <button class="active"><a href="" routerLink="/userhistory">History</a></button>
                </div>
              </div>
  
              <div class="history-graph">
                  <img src="../../assets/graph.svg" width="100%" alt="">
              </div>
  
              <div class="button">
                  <a href="" routerLink="/userhistorytabular"><i class="tm tsbu clipboard"></i></a>
              </div>

            </section>
          
           
        </div>
        


    </div>
</div>







