.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;

    .openbtn {
      padding: 15px;
      background: rgb(255,131,35);

      i {
        font-size: 30px;
        cursor: pointer;
      }
      h5 {
        padding-right: 38px;
      }
    }

    .switch {
        padding-top: 30px;

        .switch-btn button{
          background: rgb(235,235,235);
          outline: 0 none;
          border: none;
          border-radius: 10px 0 0 10px;



          a {
            color: rgb(255,131,35);
            text-decoration: none;
            padding: 10px;
          } 
  
        }

        .switch-btn .active {
          background: rgb(255,131,35);
          border-radius:0 10px 10px 0;

          a {
            color: #fff;
          }
        }
        
    }

    .history-graph {
        padding: 20px;
        margin-top: 30px;
    }

    .button {
        position: absolute;
        right: 0;
        top: 150px;
        z-index: 99;
        a {
            text-decoration: none;
        }
        i {
            color:rgb(255,131,35);
            font-size: 22px;
            background:#fff;
            padding: 13px 10px;
            box-shadow: 5px 5px 10px gray;
            border-radius: 5px;
        }
    }

   
    

   
}