
<div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
     
      <div class="image-holder d-flex justify-content-center">
        <div class="face-scan d-flex justify-content-center">
           <div class="round d-flex justify-content-center mt-4">
               <a href="" routerLink = "/history"><i class="tm tsbu like"></i>
               </a>
           </div>
        </div>
      </div>
      <div class="description text-center p-4">
          <h4><b>Thank You</b></h4>
          <p><b>John Doe</b></p>
          <p>You are successfully register with smart thermometer</p>
      </div>
      <footer class="footer ">
          <img class="" src="../../assets/skyline.svg" alt="" >
         
      </footer>
    </div>
</div>
