.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;

    .image-holder {
        .face-scan {
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
            border-radius: 45px;
            width: 150px;
            height: 150px;
            margin-top: 80px;
            
            .round {
                background: linear-gradient(to bottom, rgb(255, 146, 44),rgb(255, 81, 81), rgb(255, 4, 4));
                border-radius: 50%;
                width: 100px;
                height: 100px;

               a {
                   text-decoration: none;
                   padding-top: 20px;

               }

                i {
                    font-size: 50px;
                    color: #fff;
                }

                
            }
        }
    }

    .description{
        h4 {
            color: rgb(255, 81, 81);
        }
        p{
            font-size: 15px;
        }
    }

    .footer {
        position: absolute;
        width: 360px;
        margin-top: -20px;
        

        img {
            width: 100%;
        }

       
    }
    
   
    
   
    
  }
  
  