
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
                <a id="mysidenav" onclick="openNav()">
                  <i class="tm tsbu menu float-left"></i>
                </a>
                <h5 class="text-center">John Doe</h5>
            </div>

            <section onclick="closeNav()">

               <div class="switch d-flex justify-content-center">
                    <div class="switch-btn d-flex justify-content-center">
                      <button><a href=""  routerLink="/userprofile">Profile</a></button>
                      <button class="active"><a href=""  routerLink="/userhistorytabular">History</a></button>
                    </div>
                  </div>
      
                  <div class="py-4 px-2">
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">25-03-2021</h5>
                          <h5 class="temp text-success"><b>95 F</b></h5>
                     </div>
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">26-03-2021</h5>
                          <h5 class="temp text-success"><b>93 F</b></h5>
                     </div>
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">27-03-2021</h5>
                          <h5 class="temp text-success"><b>92 F</b></h5>
                     </div>
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">28-03-2021</h5>
                          <h5 class="temp text-danger"><b>107 F</b></h5>
                     </div>
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">29-03-2021</h5>
                          <h5 class="temp text-success"><b>93 F</b></h5>
                     </div>
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">30-03-2021</h5>
                          <h5 class="temp text-success"><b>94 F</b></h5>
                     </div> 
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">31-03-2021</h5>
                          <h5 class="temp text-danger"><b>108 F</b></h5>
                     </div>
                     <div class="data d-flex justify-content-between pt-3">
                          <h5 class="date">01-04-2021</h5>
                          <h5 class="temp text-success"><b>95 F</b></h5>
                     </div> 
      
      
                    
                  </div>
      
                  <div class="button">
                      <a href="" routerLink="/userhistory"><i class="tm tsbu bars"></i></a>
                  </div>

            </section>
          
           
        </div>
        


    </div>
</div>








