<div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      <div class="logo">
        <img src="../../assets/logo.png" alt="">
      </div>
      <div class="image-holder d-flex justify-content-center">
        <div class="face-scan d-flex justify-content-center">
           <div class="round d-flex justify-content-center mt-4">
            <a href="" routerLink="/photoclick"><img src="../../assets/icons/PNG/scan-face-o.png" alt="" >
            </a>
            <!-- <a href="" routerLink="temprature"><i class="tm tsbu face-scan"  ></i>
            </a> -->
           </div>
        </div>
      </div>
      <footer class="footer text-center">
          <img class="" src="../../assets/fortis-logo.png" width="100px" alt="" >
          <br>
          <small>Welcome to</small>
          <p>Fortis Hospital, Mulund</p>
          
      </footer>
    </div>
</div>
