.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    // background: linear-gradient(180deg,rgb(255,131,35) 55%,#fff 55%);
  
   
    .logo {
        text-align: center;
        padding: 40px 0 150px 0 ;
        background: linear-gradient(to bottom, rgb(255,144,41),rgb(253,54,54));
        border-radius: 0 0 40% 40%;


        img {
            width: 200px;
        }
    }

    .image-holder {
        .face-scan {
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
            border-radius: 45px;
            width: 150px;
            height: 150px;
            margin-top: -50px;
            
            .round {
                background: linear-gradient(to bottom, rgb(255, 146, 44),rgb(255, 81, 81), rgb(255, 4, 4));
                border-radius: 50%;
                width: 100px;
                height: 100px;

                img {
                    margin-top: 35px;
                    color: #fff;
                }

                // i {
                //     font-size: 50px;
                //     color: #fff;
                // }

                
            }
        }
    }
    
    .footer {
        margin-top: 80px;
    }
  
    
   
    
  }
  
  