
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
                <a id="mysidenav" onclick="openNav()">
                  <i class="tm tsbu menu float-left"></i>
                </a>
                <h5 class="text-center">John Doe</h5>
            </div>

           
            <section onclick="closeNav()">

                  <div class="user-info px-4 pt-3">
      
                      <div class="user d-flex justify-content-center pb-3">
                          <div class="image-holder">
                              <img src="../../assets/user.svg" alt="">
                          </div>
                          <div class="edit">
                              <i class="tm tsbu edit-tools"></i>
                          </div>
                      </div>
          
                      <div class="user-description">
                          <div class="name pb-1 pt-2"> 
                              <h6>Name</h6>
                              <h5>John Doe</h5>
                          </div>
                          <div class="age py-1">
                              <h6>Age</h6>
                              <h5>25</h5>
                          </div>
                          <div class="phone py-1">
                              <h6>Phone</h6>
                              <h5>+91 1234567890</h5>
                          </div>
                          <div class="email py-1">
                              <h6>Email</h6>
                              <h5>johndoe@gmail.com</h5>
                          </div>
                          <div class="aadhar py-1">
                              <h6>Aadhar No</h6>
                              <h5>1234 5678 9012 3456</h5>
                          </div>
                          <div class="address pt-1">
                              <h6>Address</h6>
                              <h5>5 Ganesh Perl, Near Govind Hospital Lawns, Nashik</h5>
                          </div>
                      </div>
                </div>
                <div class="submit text-center">
                    <button class="btn"><a class="text-white" href="" routerLink="/thankyou">Save</a></button>
                </div>
      

            </section>

          
           
        </div>
        


    </div>
</div>








