.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;
    overflow-y: scroll;

    .openbtn {
      padding: 15px;
      background: rgb(255,131,35);

      i {
        font-size: 30px;
        cursor: pointer;
      }
    }

    .data {
        .user-data {
            .name {
                cursor: pointer;
                border: none;
                outline: 0 none;
            }
        }
       
        h5 {
            font-size: 16px; 
        }
        p {
            font-size: 12px;
        }

        &:hover {
            background-color:rgb(235,235,235);
            
        }
            
    }

   
}