
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white d-flex justify-content-between">
              <a id="mysidenav" onclick="openNav()">
                <i class="tm tsbu menu float-left"></i>
              </a>
              <div class="title">
                <h5 class="text-center">Historic Data</h5>
              </div>
              <div class="filter">
                <i class="tm tsbu filter float-right"></i>
                <!-- <img src="../../assets/icons/SVG/filter.svg" alt=""> -->
              </div>
            </div>

            <section onclick="closeNav()">

                <div class="master-data pt-2">

                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>108 F</b></h5>
                        </div>
                    </div>
        
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0"routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-success pr-2">
                            <h5><b>98 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-success pr-2">
                            <h5><b>98 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>106 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>108 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-success pr-2">
                            <h5><b>98 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-success pr-2">
                            <h5><b>98 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>109 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>109 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>109 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>109 F</b></h5>
                        </div>
                    </div>
    
                    <div class="data d-flex p-2">
                        <div class="image-holder pr-3 pl-2">
                            <img src="../../assets/user.svg" style="width: 40px; height: 40px;" alt="">
                        </div>
                        <div class="user-data flex-grow-1">
                            <h5 class="name m-0" routerLink="/userprofile"><b>John Doe</b></h5>
                            <p class="date m-0">25-03-2021</p>
                        </div>
                        <div class="temp text-danger pr-2">
                            <h5><b>109 F</b></h5>
                        </div>
                    </div>
    
                </div>

            </section>
        </div>
    </div>
</div>






