.mobile {
    width: 360px;
    height: 560px;
    color: black;
    box-shadow: 5px 5px 20px gray;
    position: relative;

   
    
    .openbtn {
      padding: 15px;
      background: rgb(255,131,35);

      i {
        font-size: 30px;
        cursor: pointer;
      }
      h5 {
        padding-right: 32px;
      }
    }

    label {
        font-size: 14px;
        // padding-top: 15px;
      }
      
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid rgb(235,235,235);
    }
    input::-webkit-input-placeholder {
      font-size: 12px;
    }
    
    input:hover,input:focus {
      outline: 0 none;
    } 

    .submit {
        position: absolute;
        padding: 8px 0;
        bottom: 0;
        width: 100%;
        background: rgb(255,131,35);
        display: block;

        a {
            text-decoration: none;
        }
    }
}