
  <div class="container-fluid bg-light d-flex justify-content-center pt-4">
    <div class="mobile">
      
        <app-sidebar></app-sidebar>
        
        <div id="content">
            <div class="openbtn text-white">
              <a id="mysidenav" onclick="openNav()">
                <i class="tm tsbu menu float-left"></i>
              </a>
              <h5 class="text-center">Register</h5>
            </div>

            <section onclick="closeNav()">

              <div class="regi-form">
                <div class="deatails p-3 bg-white">
                  <form>
                    <div class="fullname pb-2">
                      <label for="fullname">Full Name</label>
                      <input type="text" id="fullname" name="fullname">
                    </div>
                    <div class="age pb-2">
                        <label for="age">Age </label>
                        <input type="number" id="age" name="age">
                    </div>
                    <div class="address pb-2">
                        <label for="adrs">Address </label>
                        <input type="text" id="adrs" name="adrs">
                    </div>
                    <div class="num pb-2">
                        <label for="anum">Aadhar No/ National Id No </label>
                        <input type="number" id="anum" name="anum">
                    </div>
                    <div class="num pb-2">
                        <label for="pnum">Phone No </label>
                        <input type="number" id="pnum" name="pnum">
                    </div>
                    <div class="email">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                    </div>
                        
                  </form>

                  
          
                </div>
            </div>
            <div class="submit text-center">
                <button class="btn"><a class="text-white" href="" routerLink="/thankyou">Submit</a></button>
            </div>

            </section>
  
        </div>
        


    </div>
</div>




